@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  background: #d2d2d2;
}
img{
  max-width: 100%;
  display: block;
}
h1{
  font-size: 55px;
}
h2{
  font-size: 40px;
}
.bg-color{
  background: #2D2775;
  color: #d2d2d2;
}
